.technologies-title {
    position: relative;
    max-width: 81.25%;
    padding: 0.9375rem 0 calc(1.28906rem + 0.36458vw);
    font-size: 60px;
    font-size: 3.5294117647vw;
    font-family: aeonik-medium;
    color: #2c2c2c;
    line-height: 1em;
    margin-left: 18.75%;
    letter-spacing: -.02em;
}

.title-border-top,
.title-border-bottom {
    width: 98%;
    margin-left:0;
    transition: .5s;
}



