.company-team-members {
	background-color: #fbf9f7;
}
.slide-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title-container {
	position: relative;
	padding: 0 30px;
	background-color: #fff;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title-container h3 {
	margin-top: 2.5rem;
	position: relative;
	margin-bottom: 1.25rem;
	padding-right: 40%;
	font-size: 3.1764705882vw;
	font-family: aeonik-medium;
	color: #2c2c2c;
	line-height: 1.1em;
	letter-spacing: -0.02em;
}

.title-container p {
	position: relative;
	display: block;
	padding: 10px 0;
	line-height: 1em;
	border-top: 1px solid #2c2c2c;
	border-bottom: 1px solid #2c2c2c;
}

.comp-team-headline {
	font-size: 3.8235294118vw !important;
	font-family: aeonik-regular;
	color: #2c2c2c;
	line-height: 1.2em;
	letter-spacing: -0.01em;
}
