.contact-place-container{
    margin-bottom: 13.75rem;
}

.location-map p{
    font-size: 2vw;
    font-family: aeonik-medium;
    color: #2c2c2c;
    line-height: 1.1em;
}

.contact-details .phone{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.contact-details .phone .label{
    position: relative;
    width: 110px;
    flex: 0 0 110px;
    margin-right: 5px;
    font-size: 1.2352941176vw;
    font-family: aeonik-medium;
    color: #2c2c2c;
    line-height: 1.1em;
}
.contact-details a{
    position: relative;
    width: 100%;
    font-size: 1.2352941176vw;
    font-family: aeonik-regular;
    color: #2c2c2c;
    line-height: 1.1em;
}

.contact-map-location{
    width: 320px;
    height: 3rem;
}

.contact-map-location span{
    width: 40px;
    height: 40px;
    font-size: 1rem;
}

.contact-place-photo img {
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    width: 100%;
    height: 100%;
}

.contact-place-photo {
    height: 85vh;
    position: relative;
}