.sec-btn {
	position: relative;
	width: 250px;
	height: 4.5rem;
	background: #484747;
	display: flex;
	border-radius: 60px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.904);
	transition: 0.5s;
	padding-left: 40px;
	overflow: hidden;
	font-size: 1.3125rem;
}

.sec-btn::after {
	content: "";
	position: absolute;
	width: 80px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.25);
	transform: translateX(-170px) skew(30deg);
	transition: 0.75s ease-in-out;
}

.sec-btn:hover::after {
	transform: translateX(170px) skew(30deg);
}

.sec-btn:hover {
	padding-left: 0px;
	padding-right: 40px;
	color: rgba(255, 255, 255, 1);
}

.sec-btn span {
	position: absolute;
	left: 15px;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50px;
	transition: 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	color: #1a191d;
}

.sec-btn:hover span {
	left: calc(100% - 70px);
}
