.company-culture {
	width: 86% !important;
}

.culture-second-row {
	margin-top: 16.5625rem !important;
}

.culture-item {
	position: relative;
	padding: 40px;
	border-left: 1px dashed rgba(144, 158, 160, 0.4);
    height: 100%;
}

.culture-item:last-child {
    border-right: 1px dashed rgba(144,158,160,.4);
}

.culture-name {
	position: absolute;
	top: -9.4117647059vw;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 7.7647058824vw;
	height: 7.7647058824vw;
	border: 1px dashed rgba(144, 158, 160, 0.4);
}

.culture-name .short-name {
	font-size: 2.9411764706vw;
	font-family: aeonik-regular;
	color: #2c2c2c;
	line-height: 1.1em;
}
.culture-name .full-name {
	font-size: 0.9411764706vw;
	font-family: aeonik-regular;
	color: #909ea0;
	line-height: 1em;
}
