.company-clients-block:after {
    content: "";
    top: -50vh;
    left: 0;
    display: block;
    width: 100vw;
    height: 200vh;
    background: linear-gradient(180deg,rgba(247,158,190,0),#ffa5a5 45.8%,rgba(247,158,163,0) 89.72%);
    position: absolute;
    z-index: -1;
}

.company-clients-block {
    z-index: 1;
}

.company-client-header h2{
    font-size: 3.8235294118vw !important;
    font-family: aeonik-regular;
    color: #2c2c2c;
    line-height: 1.2em;
    letter-spacing: -.01em;
}