.job-search-lebel{
    font-size: 1.0588235294vw;
    font-family: aeonik-regular;
    color: #909ea0;
    line-height: 1em;
}

.job-search-box{
    background: #fff;
    box-shadow: 0 11px 34px rgba(182,192,203,.25);
    border-radius: 12px;
    padding: 1.5625rem 9.375rem;
}

.job-container{
    background-color: #f9f9f9;
    padding: 2rem 0;
}
