.bg-gradient {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	touch-action: none;
}

canvas#bg-canvas {
	width: 100%;
	height: 100%;
}

.bg-color-1 {
	background-color: #f1868a;
}
/* .bg-color-2 {
	background-color: #def7dc;
} */
.bg-color-3 {
	background-color: #def7dc;
}
