
.margin-bottom {
    margin-bottom: 100px;
}
 .ul-list .item{
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    width: calc(100% + 10px);
    padding: 0.625rem 0;
    font-size: 17px;
    font-size: 1vw;
    font-family: aeonik-regular;
    color: #2c2c2c;
    line-height: 1em;
    letter-spacing: .02em;
}

 .ul-list .item svg{
    position: relative;
    margin-right: 10px;
    width: 18px;
    min-width: 18px;
    height: 18px;
}